# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js build output
/.next/
/out/
/build

# production
/dist

# misc
.DS_Store
*.pem
*.log

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# vscode / editor
.vscode/*
.idea/*
*.swp

# scripts or temp files you don’t want on GitHub
renameImages.js
